<div class="pt-3 flex justify-content-center">
  <h2>{{ content().name }}</h2>
</div>
<div class="surface-ground px-3 py-6 md:px-6 lg:px-8">
  @if (content().family) {
  <nu-family [content]="content().family!"></nu-family>
  }@if (content().debut) {
  <nu-debut [content]="content().debut!"></nu-debut>
  } @if (content().jutsu) {
  <nu-jutsu [content]="content().jutsu!"></nu-jutsu>
  } @if (content().natureType) {
  <nu-nature-type [content]="content().natureType!"></nu-nature-type>
  } @if (content().personal) {
  <nu-personal [content]="content().personal!"></nu-personal>
  } @if (content().rank) {
  <nu-rank [content]="content().rank!"></nu-rank>
  } @if (content().tools) {
  <nu-tools [content]="content().tools!"></nu-tools>
  } @if (content().uniqueTraits) {
  <nu-unique-traits [content]="content().uniqueTraits!"></nu-unique-traits>
  } @if (content().voiceActors) {
  <nu-voice-actors [content]="content().voiceActors!"></nu-voice-actors>
  }
</div>
