@if (content()) {
<nu-feed [title]="'Debut'">
  @if (content().manga) {
  <p>Manga: {{ content().manga }}</p>
  } @if (content().anime) {
  <p>Anime: {{ content().anime }}</p>
  } @if (content().novel) {
  <p>Novel:{{ content().novel }}</p>
  } @if (content().appearsIn) {
  <p>appearsIn: {{ content().appearsIn }}</p>
  } @if (content().game) {
  <p>Game: {{ content().game }}</p>
  } @if (content().movie) {
  <p>Movie: {{ content().manga }}</p>
  } @if (content().ova) {
  <p>OVA: {{ content().ova }}</p>
  }
</nu-feed>
}
