.logoSection {
  display: flex;
  justify-content: end;
}

.closeButton {
  @media (min-width: 992px) {
    display: none;
  }
}

.nav-item :hover {
  .nav-label,
  .pi {
    color: var(--primary-color);
  }

  .active {
    .nav-label,
    .pi {
      color: var(--surface-0) !important;
    }
  }
}

li {
  a {
    text-decoration: none;
    color: var(--surface-0);
  }
}

.active {
  background-color: var(--primary-color);
  .nav-label,
  .pi {
    color: var(--surface-0);
  }
}

.logo {
  padding-left: 30vw;
  font-size: 26px;
  font-weight: 500;

  @media (max-width: 767px) {
    padding-left: 20vw;
  }

  @media (max-width: 500px) {
    padding-left: 10vw;
  }
}

.content-section {
  width: calc(100vw - 300px);

  @media (max-width: 992px) {
    width: 100wv;
  }
}
