@if (content()) {
<div class="lg:px-8 md:px-6 px-4 py-8 surface-ground ng-star-inserted">
  <div class="surface-ground">
    <div class="grid">
      @for (item of content(); track item.id) {
      <div class="col-12 lg:col-4 p-3">
        <div
          (click)="navigateById(item.id)"
          class="p-3 hover:surface-50 cursor-pointer border-round shadow-2 flex align-items-center surface-card"
        >
          <div
            class="bg-primary-100 inline-flex align-items-center justify-content-center mr-3"
            style="width: 48px; height: 48px; border-radius: 10px"
          >
            <i class="pi pi-eject text-primary-600 text-3xl"></i>
          </div>
          <div>
            <span class="text-900 text-xl font-medium mb-2">{{
              item.name
            }}</span>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
}
